@model List<RPost>
@{
    ViewData["Title"] = "Trending";
}

<h2>Trending</h2>

<p></p>
<p></p>

<a href="/reddit/submitnewpost"> Submit new post </a>

<p></p>

<p></p>

<table style="width:60%">

    @foreach (var rpost in @Model)
    {
    <tr>
        <td>@rpost.Votes</td>
        <td>@rpost.Votes</td>
        <td>@rpost.Votes</td>
        <td><a href="@rpost.URLPath"> @rpost.Title </a></td>
    </tr>
    }
</table>

