@model List<Attractions>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table style="width:80%">
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>Price</th>
        <th>Longitude</th>
        <th>Lattitude</th>
        <th>Category</th>
        <th>Duration</th>
        <th>Recommended Age</th>
    </tr>

    @foreach (var attraction in Model)
    {
    <tr>
        <td>@attraction.AttrName</td>
        <td>@attraction.City</td>
        <td>@attraction.Price</td>
        <td>@attraction.Longitude</td>
        <td>@attraction.Lattitude</td>
        <td>@attraction.Category</td>
        <td>@attraction.Duration</td>
        <td>@attraction.RecommendedAge</td>
    </tr>
    }
</table>

<p></p>
<p></p>
<p></p>
<form action="/add" method="post">
    Name:
    <input type="text" name="attrname" required/><br>
    City:
    <input type="text" name="city"  required/><br>
    Price:
    <input type="number" name="price"  require/><br>
    Longitude:
    <input type="number" name="longitude" required/><br>
    Latitude:
    <input type="number" name="Lattitude" required/><br>
    Category:
    <input type="text" name="Category"  required/><br>
    Duration:
    <input type="number" name="Duration" required/><br>
    Recommended Age:
    <input type="number" name="RecommendedAge" required/><br>

    <button type="submit">Send</button>
</form>